---
import { Picture } from 'astro:assets'

import Content from '../components/sections/Content.astro'

import dances from '../assets/images/dances.jpg'
import dd from '../assets/images/dd.jpg'
import finale from '../assets/images/finale.jpg'
import panels from '../assets/images/panels.jpg'
import AccordionItem from '../components/AccordionItem.astro'
import ProgramPreviewInner from './ProgramPreviewInner.vue'

interface Props {
  bg?: 'secondary'
  id?: string
}

const { bg, id } = Astro.props
---

<Content headline="A peek behind the screen…" {bg} {id} wider>
  <p>
    What do you unlock when you join the server? More than just screens and sprites. Dive into a world where you can
    expect dancing under enchanted lights, playful panels where knowledge meets laughter, and a grand finale where
    talents bloom. Whether you come to perform, explore, or simply be — there’s a path waiting for you here.
  </p>
  <ProgramPreviewInner client:load>
    <Fragment slot="accordion">
      <AccordionItem>
        <Fragment slot="header">Dances</Fragment>
        <p>
          Get ready to dance! Our DJs will keep the dance floor buzzing with a mix of styles — from House and Hardcore
          to Drum & Bass, Dubstep, Techno, and more. You bring the moves, we’ll bring the beats.
        </p>
      </AccordionItem>
      <AccordionItem>
        <Fragment slot="header">Panels</Fragment>
        <p>
          Each year, Flüüfff organizes a variety of panels — from more serious and informative ones like the
          <strong>How To Sign (language)</strong> panel, to lighter-hearted gatherings like the <strong
            >Kam Yuen Snacks Haul</strong
          >.
        </p>
        <p>
          Of course, a con is nothing without its attendees. Many have hosted their own panels, and we welcome yours
          too!
        </p>
      </AccordionItem>
      <AccordionItem>
        <Fragment slot="header">Dealer's Den</Fragment>
        <p>
          Wander into the <strong>Dealer's Den</strong>, where a gathering of artists and craftsfolk from our community
          offer their creations. From hand-drawn posters to cozy coasters, from fursuit parts to wearable art, you never
          know what treasures you’ll discover.
        </p>
      </AccordionItem>
      <AccordionItem>
        <Fragment slot="header">Show night</Fragment>
        <p>A fantastic show filled with performances by and for our attendees.</p>
        <p>
          Got a talent to share, want to bring some magic to the stage, or put on a comedy act? Whether solo or with
          friends, we’d love to see you on stage.
        </p>
      </AccordionItem>
    </Fragment>
    <Fragment slot="pictures">
      <Picture class="active" src={dances} formats={['avif', 'webp']} fallbackFormat="jpg" alt="" widths={[400, 800]} />
      <Picture class="active" src={panels} formats={['avif', 'webp']} fallbackFormat="jpg" alt="" widths={[400, 800]} />
      <Picture class="active" src={dd} formats={['avif', 'webp']} fallbackFormat="jpg" alt="" widths={[400, 800]} />
      <Picture class="active" src={finale} formats={['avif', 'webp']} fallbackFormat="jpg" alt="" widths={[400, 800]} />
    </Fragment>
  </ProgramPreviewInner>
</Content>

<style lang="scss" is:global>
  @use '../styles/charter';
  @use '../styles/text-styles';

  .program_preview {
    display: flex;
    flex-direction: row;
    margin-top: 60px;

    .accordion {
      width: 50%;
      box-sizing: border-box;
      padding-right: 92px;

      .accordion-item__content + .accordion-item__header {
        border-top: solid 1px charter.$neutrals400;
      }

      .accordion-item__header {
        color: charter.$primary800;
        font-family: var(--font-atari), sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 125% */
      }

      .accordion-item__content {
        color: charter.$primary800;

        font-family: var(--font-inter), sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 137.5% */
      }
    }

    .picture-switcher {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
      }
      pointer-events: none;
      position: relative;
      width: 50%;
    }
  }

  @media (max-width: 900px) {
    .program_preview {
      margin-top: 24px;
      .accordion {
        width: auto;
        padding-right: 0;

        .accordion-item__header {
          font-size: 22px;
          line-height: 22px;
        }
      }
      .picture-switcher {
        display: none;
      }
    }
  }
</style>
